<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/jpg"
      href="{{ site.url }}{{ "assets/images/profile.jpg" | relative_url }}">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffeb3b">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}{{ "assets/images/profile.jpg" | relative_url }}">

    <link href="{{ site.url }}{{ "assets/css/fontawesome-all.min.css" | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}{{ "assets/css/w3.css" | relative_url }}">
    <script src="{{ site.url }}{{ "assets/js/gtag.js" | relative_url }}"></script>
    <script src="{%- include gana.html -%}"></script>
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.url }}{{ "/assets/images/profile.jpg" | relative_url }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <!-- <link rel="stylesheet" href="{{ "assets/css/twit.css" }}">
    <link rel="stylesheet" href="{{ "assets/css/diagnostic.css" }}"> -->
    {%- seo -%}
    {%- feed_meta -%}
</head>
