<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "assets/css/w3.css" }}">
    <script src="{{ "assets/js/jquery-3.2.1.min.js" }}></script>
    <script src="{{ "assets/js/gtag.js" }}></script>
    <!-- <link rel="stylesheet" href="{{ "assets/css/twit.css" }}">
    <link rel="stylesheet" href="{{ "assets/css/diagnostic.css" }}"> -->
    {%- feed_meta -%}
</head>
