<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}"
      style="background-image: url( {{ "/assets/images/bg.png" | escape }} );
      background-position: center top;
      background-repeat: no-repeat;">

  {%- include head.html -%}

<body>

<div class="w3-container iho-center" style="background-color: rgba(255, 255,255, 0.95)">


  <img class="w3-image w3-padding w3-card w3-section w3-animate-top" src="{{ site.url }}{{ "/assets/images/profile.jpg" | relative_url }}" alt="Iho Somnam" />


  <div class="w3-bar w3-white w3-border">
    {%- assign iho_page = site.pages | sort: "order" -%}

      {%- for f in iho_page -%}
      {%- unless f.title == false or f.url contains "/404" or f.url contains "/feed" -%}
    <a class="w3-bar-item w3-button w3-mobile w3-{%- if page.url == f.url  or f.url contains '/blog' -%}black{%- elsif page.url != f.url -%}hover-yellow{%- endif -%}"
    href="{{ f.url | relative_url }}">{{ f.title | escape }}</a>
    {%- endunless -%}
    {%- endfor -%}

  </div>


  {{ content }}

      {%- include footer.html -%}

</div>
</body>
</html>
