---
layout: page
---

<h1 class="w3-animate-left" style="text-align: center;">{{ site.title }}</h1>
<h3 class="w3-animate-right" style="text-align: center;"><q>{{ site.subtitle }}</q></h3>
<p class="w3-animate-right" style="text-align: center;">{{ site.description }}</p>
<table class="w3-table-all w3-animate-bottom">
  {%- if site.social.Instagram -%}
    <tr>
        <td><i class="fab fa-instagram fa-lg w3-hover"></i></td>
        <td>Instagram</td>
        <td><a href="https://instagram.com/{{ site.social.Instagram }}" class="w3-hover-yellow">/{{ site.social.Instagram }}</a></td>
    </tr>
    {%- endif -%}
    {%- if site.social.Twitter -%}
    <tr>
        <td><i class="fab fa-twitter fa-lg w3-hover"></i></td>
        <td>Twiiter</td>
        <td><a href="https://twitter.com/{{ site.social.Twitter }}" class="w3-hover-yellow">/{{ site.social.Twitter }}</a></td>
    </tr>
    {%- endif -%}
    {%- if site.social.Reddit -%}
    <tr>
        <td><i class="fab fa-reddit fa-lg"></i></td>
        <td>Reddit</td>
        <td><a href="https://reddit.com/u/{{ site.social.Reddit }}" class="w3-hover-yellow">/u/{{ site.social.Reddit }}</a></td>
    </tr>
    {%- endif -%}
    {%- if site.social.Github -%}
    <tr>
        <td><i class="fab fa-github fa-lg"></i></td>
        <td>Github</td>
        <td><a href="https://github.com/{{ site.social.Github }}" class="w3-hover-yellow">/{{ site.social.Github }}</a></td>
    </tr>
    {%- endif -%}
    {%- if site.social.Steam -%}
    <tr>
        <td><i class="fab fa-steam fa-lg"></i></td>
        <td>Steam</td>
        <td><a href="https://steamcommunity.com/id/{{ site.social.Steam }}" class="w3-hover-yellow">/id/{{ site.social.Steam }}</a></td>
    </tr>
    {%- endif -%}
    {%- if site.social.Keybase -%}
    <tr>
        <td><i class="fab fa-keybase fa-lg"></i></td>
        <td>Keybase</td>
        <td><a href="https://keybase.io/{{ site.social.Keybase }}" class="w3-hover-yellow">/{{ site.social.Keybase }}</a></td>
    </tr>
    {%- endif -%}
    {%- if site.social.Email -%}
    <tr>
        <td><i class="fa fa-envelope fa-lg"></i></td>
        <td>E-mail</td>
        <td><a href="mailto:{{ site.social.Email }}" class="w3-hover-yellow">{{ site.social.Email }}</a></td>
    </tr>
    {%- endif -%}
</table>
